.content {
    margin: 1em 1em 0em 0em;
    width: 100%;
}

.content-container {
    margin: 0em 1em 0em 1em;
}

.content-title {
    margin: 0em 0em 0em 1.5em;
}

.content-container-body {
    float: left;
}

.content-container-panel {
    float: right;
}