@use '../../palette';

.navbar-header {
    background-color: palette.$grey;
    text-decoration: none;
    font-weight: bold;
}

.navbar-header-mid {
    display: inline-block;
    width: 23%;
    margin: auto;
}

.navbar {
    display: inline-block;
    margin: 20px 0px 19px 0px;
}
.navbar li {
    list-style: none;
    display: inline-block;
    margin: auto;
}

.navbar li a {
    text-decoration: none;
    color: palette.$white;
    font-size: 18px;
    padding: 8px 20px;
}

.navbar li a:hover {
    color: rgb(151, 7, 247);
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
}

.navbar li a:active {
    background-color: deepskyblue;
    border-radius: 5px;
}

.navbar-header-right {
    display: inline-block;
    width: 40%;
    font-size: 18px;
    color: palette.$white;
    padding-right: 1em;
}

.navbar-header-right a {
    text-decoration: none;
    color: palette.$white;
}

.navbar-header-left {
    display: inline-block;
    width: 37%;
    font-size: 18px;
    color: palette.$white;
    padding-left: 6em;
}

.navbar-header-left a {
    text-decoration: none;
}